html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.main__container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}
